<div>
  <mat-card class="margin-40">
  <mat-card-header>
    <mat-card-title>Gerenciar CheckList</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="w-100">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> item Complete </th>
    <td mat-cell *matCellDef="let element" >

      <mat-icon class="margin-left-25" color="primary" *ngIf="element.completed" (click)="UpdateCompleteStatus(true)">thumb_up</mat-icon>
      <mat-icon class="margin-left-25" color="warn" *ngIf="!element.completed" (click)="UpdateCompleteStatus(false)">thumb_down</mat-icon>

    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef> Deadline </th>
    <td mat-cell *matCellDef="let element"> {{element.deadline | date: "dd/MM/yyyy"}} </td>
  </ng-container>
  <ng-container matColumnDef="postDate">
    <th mat-header-cell *matHeaderCellDef> PostDate </th>
    <td mat-cell *matCellDef="let element"> {{element.postDate | date: "dd/MM/yyyy"}} </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category?.name}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">

      <button mat-raised-button color="accent" (click)="UpdateChecklistItem(element)" class="margin-right-10">Edit</button>
      <button mat-raised-button color="warn" (click)="DeleteChecklistItem(element)">Delete</button>
      {{element.actions}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="warn" [routerLink]="['/']">Home</a>
    <a mat-raised-button color="primary" (click)="CreateNewItem()" >Criar novo item do CheckList</a>
  </mat-card-actions>
</mat-card>
</div>
